<section class="section about-us" id="about-us">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">About <span class="highlight">Us</span></h2>
      <p class="section-lead">
        We are dedicated to providing engaging and effective English language
        courses in&nbsp;a&nbsp;supportive and stimulating learning environment
      </p>
    </div>

    <div class="about-us-content">
      <ol class="about-us-list">
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Multicultural learning environment
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>

      <div class="about-us-memoji-container">
        <img
          class="about-us-memoji"
          src="./img/webp/memoji.webp"
          srcset="./img/webp/memoji.webp 1x, ./img/webp/memoji@2x.webp 2x"
          alt="Smiling memoji character"
        />
      </div>
    </div>
  </div>
</section>
