<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <a class="logo" href="../index.html">english<span class="logo-accent">excellence</span>.</a>

        <address class="contacts">
          <ul class="contacts-list">
            <li>
              <p class="footer-label">Phone number:</p>
              <p class="footer-value">
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>
              </p>
            </li>
            <li>
              <p class="footer-label">Address:</p>
              <p class="footer-value">
                <a href="https://www.google.com/maps/place/Bazhana+Ave/@50.3949653,30.6058143,1177m/data=!3m1!1e3!4m10!1m2!2m1!1s32a+M.+Bazhana+ave+kiev!3m6!1s0x40d4c5b807eb48cf:0x3c4d179958908876!8m2!3d50.394653!4d30.608478!15sChczMmEgTS4gQmF6aGFuYSBhdmUga2lldpIBCGJ1c19zdG9w4AEA!16s%2Fg%2F1hm258w6w?entry=ttu&g_ep=EgoyMDI2MDcxNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">32a M. Bazhana ave</a>
              </p>
            </li>
          </ul>
        </address>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="#about">About us</a></li>
          <li><a href="#lessons">Our lessons</a></li>
          <li><a href="#teachers">Teachers</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </nav>

      <ul class="socials socials--footer">
        <li>
          <a class="social-btn" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
              <use href="./img/sprite.svg#facebook-white"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-btn" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
              <use href="./img/sprite.svg#instagram-white"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-btn" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
              <use href="./img/sprite.svg#youtube-white"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>©2023 English Excellence. All rights reserved.</p>
      <ul class="footer-legal">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
