<link rel="stylesheet" href="../css/header.css">
<header class="header">
  <div class="container header-container">
    <a
      class="header-logo"
      href="./index.html"
      aria-label="english excellence home page"
    >
      english<span class="header-logo-accent">excellence</span>.
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#lessons">Our lessons</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-teachers">Teachers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#footer">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="header-social-icon" width="44" height="44">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="header-social-icon" width="44" height="44">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="header-social-icon" width="44" height="44">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="header-burger-btn js-open-menu"
      type="button"
      aria-label="Open mobile menu"
      data-menu-open
    >
      <svg class="header-burger-icon" width="40" height="28">
        <use href="./img/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>

  <!-- is-open -->
  <div class="mobile-menu js-menu-container" data-menu>
    <div class="mobile-menu-container">
      <button
        class="mobile-menu-close-btn js-close-menu"
        type="button"
        aria-label="Close mobile menu"
        data-menu-close
      >
        <svg class="mobile-menu-close-icon" width="32" height="32">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about-us" data-menu-close>
              About us
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#lessons" data-menu-close>
              Our lessons
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#our-teachers" data-menu-close>
              Teachers
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#reviews" data-menu-close>
              Reviews
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#footer" data-menu-close>
              Contact us
            </a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-social-list">
        <li class="mobile-social-item">
          <a
            class="mobile-social-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="mobile-social-icon" width="42" height="42">
              <use href="./img/sprite.svg#facebook-white"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-item">
          <a
            class="mobile-social-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="mobile-social-icon" width="42" height="42">
              <use href="./img/sprite.svg#instagram-white"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-item">
          <a
            class="mobile-social-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg class="mobile-social-icon" width="42" height="42">
              <use href="./img/sprite.svg#youtube-white"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
