<section class="section reviews" id="reviews">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">
        What our <span class="highlight">students</span> say
      </h2>
      <p class="section-lead">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="reviews-list">
      <li class="review-item">
        <div class="review-head">
          <img
            src="./img/webp/review-anna.webp"
            srcset="
              ./img/webp/review-anna.webp    1x,
              ./img/webp/review-anna@2x.webp 2x
            "
            alt="Anna"
            width="50"
            height="50"
            loading="lazy"
          />
          <div>
            <p class="name">Anna</p>
            <p class="review-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="review-item">
        <div class="review-head">
          <img
            src="./img/webp/review-mykhailo.webp"
            srcset="
              ./img/webp/review-mykhailo.webp    1x,
              ./img/webp/review-mykhailo@2x.webp 2x
            "
            alt="Mykhailo"
            width="50"
            height="50"
            loading="lazy"
          />
          <div>
            <p class="name">Mykhailo</p>
            <p class="review-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="review-item">
        <div class="review-head">
          <img
            src="./img/webp/review-victoria.webp"
            srcset="
              ./img/webp/review-victoria.webp    1x,
              ./img/webp/review-victoria@2x.webp 2x
            "
            alt="Victoria"
            width="50"
            height="50"
            loading="lazy"
          />
          <div>
            <p class="name">Victoria</p>
            <p class="review-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
